@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }

    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

html,
body {
  height: 100%;
  font-family: var(--font-sans);
  color-scheme: light;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}


:root {
  color-scheme: light;

  --font-sans: 'Source Sans 3', sans-serif;
  --font-serif: 'Domain', serif;

  --heading-font-size: 32px;
  --subheading-font-size: 24px;
  --body-font-size: 16px;
  --caption-font-size: 12px;

  --heading-font-weight: bold;
  --subheading-font-weight: medium;
  --body-font-weight: regular;
  --caption-font-weight: light;

  --color-blue: #007BFF;
  --color-green: #28A745;
  --color-light-blue: #5BC0DE;
  --color-light-green: #5CB85C;

  --color-white: #FFFFFF;
  --color-light-gray: #F8F9FA;
  --color-dark-gray: #343A40;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}


@keyframes flickering {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.75;
  }
}

@keyframes initialSpin {
  0% {
    transform: rotate(360deg);
    color: oklch(57.7% 0.245 27.325);
  }

  75% {
    transform: rotate(-90deg);
    color: oklch(57.7% 0.245 27.325);
  }

  100% {
    transform: rotate(0deg);
    color: #155dfc;
  }

}

.spin-flicker {
  animation: initialSpin 1s ease-out 1, flickering 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  animation-delay: 0s, 1s;
}

.smooth-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.smooth-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.smooth-underline:hover::after {
  width: 110%;
}

@media (max-width: 767px) {
  .text_reveal {
    display: inline;
    color: rgba(0, 0, 0, 0.37);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-image: linear-gradient(90deg, black, black);
    animation: text-reveal linear forwards;
    animation-timeline: view();
    animation-range-start: cover 11rem;
    animation-range-end: contain 4rem;
  }
}

.unit_text {
  background-image: linear-gradient(0deg, var(--color-neutral-800));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: var(--color-neutral-800);
  animation: text-animation .3s linear forwards;
  animation-timeline: view(50vh);
  animation-range: 1 1;

}

@keyframes text-reveal {

  to {
    background-size: 100% 100%;
  }

}

@keyframes text-animation {
  to {
    background-size: 0% 100%;
  }
}


.text-highlight {
  color: var(--color-blue-600);
}

.bullets::before {
  position: relative;
  content: '•';
  padding: 0px 5px;
  color: var(--color-blue-600);
  display: inline-block;
  font-size: 2rem;
}

.big_text {
  font-family: var(--font-serif);
  font-size: 2rem;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 3rem;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.big_text.visible {
  opacity: 1;
  transform: translateY(0);
}

.about_text_animation {
  animation: text_animate 0.5s ease-out;
}

@keyframes text_animate {
  0% {
    padding-left: 10rem;
    opacity: 0;
  }

  100% {
    padding-left: 0;
    opacity: 1;
  }
}

#image-bg {
  background-image: url('banner.jpg');
  background-size: 200%;
  background-position: 2rem 20px;
  background-clip: text;
  -webkit-background-clip: text;
  text-stroke: 1px rgba(0, 0, 0, 0.151);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.938);

  color: transparent;
}

.hr-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-text::before,
.hr-text::after {
  content: "";
  flex: 1;
  border-top: 2px solid var(--color-blue-600);
  margin: 0 4px;
}

.scroll-indicator{
  position: fixed;
  top: calc(4rem - 2px);
  left: 0;
  width: 0.3rem;
  border-radius: 0 0 2px 2px;
  z-index: 9999;
  background-color: var(--color-blue-600);
  animation: scroll-indicate ease-in-out forwards;
  animation-timeline: scroll();

  background: linear-gradient(0deg, #0040ff, rgba(255, 255, 255, 0.35) 100%);
  -webkit-background: linear-gradient(0deg, rgba(0, 64, 255, 1), rgba(255, 255, 255, 0.35) 100%);
  -moz-background:    linear-gradient(0deg, rgba(0, 64, 255, 1), rgba(255, 255, 255, 0.35) 100%);
}

@keyframes scroll-indicate {

  0% {
    height: 0%;
  }

  100% {
    height: calc(100% - calc(4rem - 2px));
  }

}


@media (min-width: 1024px) {

  #hero-section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
  }

  #courses {

    #card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }

  }


}


.button-56 {
  /* align-items: center;
  background-color: var(--color-neutral-100);
  border: .15rem solid ;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem ;
  font-family: var(--font-sans);
  font-size: var(--text-2xl);
  height: 3rem;
  justify-content: center;
  line-height: 24px;
  padding: 0 ;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  padding-inline: clamp(1rem , 2rem) ;

  -webkit-user-select: none;
  touch-action: manipulation; */
}

.button-56:after {
  border-radius: 2rem;
  content: "";
  display: block;
  
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transition: transform .2s ease-out;
  transform: translate(0, 0);
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(8px, 8px);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


.transition-hover-effect {
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


.transition-hover-effect:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom right, transparent, var(--color-neutral-100));
  background-color: #e5e5e5;
  border-color: var(--color-neutral-100) ;
}

.transition-hover-effect:hover img {
  filter: brightness(90%);
  border-radius: 0 0 .5rem .5rem;
}